body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
    color: #fafafa;
}

a {
    color: #fafafa;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: 0.3s ease;
    display: inline-block;
}

a:hover {
    transform: scale(1.02);
    color: #B234BD;
}

ul {
    list-style: none;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label span {
    font-weight: bold;
    margin-bottom: .5em;
    color: #AAA;
    font-size: .7em;
}

input {
    background-color: #3b3b3b;
    color: #fafafa;
    border: 1px solid #555;
    border-radius: 50px;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 1em;
    transition: 0.3s ease;
}

input::placeholder {
    color: #AAA;
}

input:focus {
    transform: scale(1.02);
    border: 1px solid #B234BD;
}

.btn,
button,
input[type="submit"] {
    background-color: #B234BD;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    width: 250px;
    margin: 0 auto; 
    display: block;  
    align-items: center;
    padding: 13px 5px;
    font-weight: 400;
    cursor: pointer;
    font-size: 1em;
    transition: 0.3s ease;
}

input[type="submit"] {
    margin-top: 1em;
}

input:disabled {
    cursor: not-allowed;
    background-color: #000;
}

button:hover,
input[type="submit"]:hover {
    transform: scale(1.02);
}

.cancel-btn {
    background-color: #CCC;
}

.hide {
    display: none;
}